<h2>List</h2>
  <% @flight.each do |flight| %>
      <% if flight.origin == @x && flight.destination == @y %>
      <ul>
        <li><%=flight.flight_number%></li>
        <li><%=flight.origin%></li>
        <li><%=flight.destination%></li>
        <li><%=flight.departure_date%></li>
        <li><%=flight.arrival_date%></li>
        <li><%=flight.plane_id%></li>
      </ul>
      <% end %>

<% end %>
